* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}
.h-1 {
  height: 1rem;
}
.h-2 {
  height: 2rem;
}
.h-3 {
  height: 3rem;
}
.w-50 {
  width: 50%;
}
.h-50 {
  height: 50%;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.flex,
.flex-row,
.flex-col {
  display: flex;
}
.block {
  display: block;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.f-between {
  justify-content: space-between;
}
.f-end {
  justify-content: flex-end;
}
.f-center {
  justify-content: center;
}
.mt-0,
.mb-0 {
  margin: 0;
}
.m-0.5 {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.mx-1 {
  margin: 0 1rem;
}
.my-1 {
  margin: 1rem 0;
}
.m-2 {
  margin: 2rem;
}
.mx-2 {
  margin: 0 2rem;
}
.my-2 {
  margin: 2rem 0;
}
.p-0.5 {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.px-1 {
  padding: 0 1rem;
}
.py-1 {
  padding: 1rem 0;
}
.p-2 {
  padding: 2rem;
}
.px-2 {
  padding: 0 2rem;
}
.py-2 {
  padding: 2rem 0;
}
.border-top-light {
  border-top: 1px solid #f9f9f9;
}
.border-top-light-1 {
  border-top: 1px solid #e1e1e1;
}
.border-bottom-light {
  border-bottom: 1px solid #f9f9f9;
}
.border-bottom-light-1 {
  border-bottom: 1px solid #e1e1e1;
}
.border-light {
  border: 1px solid #f9f9f9;
}
.border-light-1 {
  border: 1px solid #e1e1e1;
}
.border-none {
  border: none;
}
.border-radius-0.5 {
  border-radius: 0.5rem;
}
.border-radius-1 {
  border-radius: 1rem;
}
.text-white {
  color: #fff;
}
.text-light {
  color: #f8f9f9;
}
.text-dark {
  color: #596473;
}
.bg-white {
  background-color: #fff;
}
.bg-light {
  background-color: #f9f9f9;
}
.bg-dark {
  background-color: #596473;
}
